@page
@model WebApp.Pages.MachinePages.ListModel
@{
    ViewData["Title"] = "List All";
}

<div class="container">
    <div class="text-center p-2 col">
        <a 
            class="btn btn-primary" 
            role="button" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Create new machine." 
            asp-page="./Create">
            Create
        </a>
    </div>
    <div class="row p-2">
        <table class="table table-striped table-bordered w-auto m-auto">
            <thead>
                <tr>
                    <th>Machine ID</th>
                    <th>Machine Name</th>
                    <th>Machine Balance</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            @for (int i = 0; i < Model.Machine.Count; i++)
            {
                <tr>
                    <th>
                        <button 
                            class="btn btn-primary" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#machine-@i" 
                            aria-expanded="false" 
                            aria-controls="machine-@i">
                        @i
                        </button>
                    </th>
                    <td>@Model.Machine[i].MachineName</td>
                    <td>@Model.Machine[i].MachineBalance.ToString("C")</td>
                    <td class="text-end">
                        <a 
                            class="btn btn-primary" 
                            role="button" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="Update this Machine." 
                            asp-page="./Update" 
                            asp-route-id="@Model.Machine[i].MachineId">
                            Update
                        </a>
                        <a 
                            class="btn btn-primary" 
                            role="button" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="Delete this Machine." 
                            asp-page="./Delete" 
                            asp-route-id="@Model.Machine[i].MachineId">
                            Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="table table-sm table-striped table-bordered collapse collapse-horizontal caption-top table-hover" id="machine-@i">
                            <caption class="fs-6 fw-bold text-center">
                                Product List
                            </caption>
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Product Price</th>
                                    <th>Product Quantity</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            @for (int j = 0; j < Model.Machine[i].MachineProductList.Count; j++)
                            {
                                <tr>
                                    <th>@j</th>
                                    <td>@Model.Machine[i].MachineProductList[j].ProductName</td>
                                    <td>@Model.Machine[i].MachineProductList[j].ProductPrice.ToString("C")</td>
                                    <td>@Model.Machine[i].MachineProductList[j].ProductQuantity</td>
                                </tr> 
                            }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>