@page
@model WebApp.Pages.MachinePages.ListModel
@{
    ViewData["Title"] = "List All";
    bool needRefill = false;
}

<div class="container">
    <div class="text-center p-2 col">
        <a 
            class="btn btn-primary" 
            role="button" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Create new machine." 
            asp-page="./Create">
            Create
        </a>
    </div>
    <div class="row p-2">
        <form method="post">
            <table class="table table-striped table-bordered w-auto m-auto">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Products</th>
                        <th>Stock?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var machine in @Model.FormMachinesList.Select((info, index) => new { index, info }))
                    {
                        <tr>
                            <input type="hidden" asp-for="@Model.FormMachinesList[@machine.index].MachineId" class="form-control" />
                            <th>@machine.index</th>
                            <input type="hidden" asp-for="@Model.FormMachinesList[@machine.index].MachineName" class="form-control" />
                            <td>@machine.info.MachineName</td>
                            <input type="hidden" asp-for="@Model.FormMachinesList[@machine.index].MachineBalance" class="form-control" />
                            <td>@machine.info.MachineBalance.ToString("C")</td>
                            <td>@machine.info.MachineProductList.Count()</td>
                            <td>
                                @if (machine.info.MachineProductList.Any())
                                {
                                    @foreach (var item in @Model.FormMachinesList[@machine.index].MachineProductList.Select((info, index) => new { index, info }))
                                    {
                                        @if (item.info.ProductQuantity == 0)
                                        {
                                            needRefill = true;
                                        }
                                    }
                                    @if (needRefill)
                                    {
                                        <div>Need refill</div>
                                    }
                                    else
                                    {
                                        <div>In stock</div>
                                    }
                                }
                                else
                                {
                                    <div>No products</div>
                                }
                            </td>
                            <td>
                                <a 
                                    class="btn btn-primary" 
                                    role="button" 
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="top" 
                                    title="Update this Machine." 
                                    asp-page="./Update" 
                                    asp-route-id="@machine.info.MachineId">
                                    Update
                                </a>                            
                                <button class="btn btn-danger" asp-page-handler="delete" asp-route-index="@machine.index">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>