@page "{Id:Guid}"
@model WebApp.Pages.MachinePages.UpdateModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Machine</h4>
<hr />

<div class="row">
    <div class="col-6">
        <form method="post">
            <div class="form-floating mb-4 col">
                <input type="hidden" asp-for="@Model.FormMachine.MachineId" class="form-control" />
                <input asp-for="@Model.FormMachine.MachineName" class="form-control" />
                <label asp-for="@Model.FormMachine.MachineName"></label>                
            </div>
            @foreach (var product in Model.FormMachine.MachineProductList.Select((produto, index) => new { index, produto }))
            {
                <div class="row">
                    <div class="form-floating mb-4 col">
                        <input name="FormMachine.MachineProductList[@product.index].ProductName" value="@product.produto.ProductName" class="form-control" />
                        <label asp-for="@product.produto.ProductName"></label>                
                    </div>
                    <div class="form-floating mb-4 col">
                        <input name="FormMachine.MachineProductList[@product.index].ProductPrice" value="@product.produto.ProductPrice" class="form-control" />
                        <label asp-for="@product.produto.ProductPrice"></label>                
                    </div>
                    <div class="form-floating mb-4 col">
                        <input name="FormMachine.MachineProductList[@product.index].ProductQuantity" value="@product.produto.ProductQuantity" class="form-control" />
                        <label asp-for="@product.produto.ProductQuantity"></label>                
                    </div>
                    <div class="my-2 col-2">
                        <input type="hidden" name="FormMachine.MachineProductList[@product.index].ProductId" value="@product.produto.ProductId" class="form-control" />
                        <button class="btn btn-danger" asp-page-handler="removeproduct" asp-route-index="@product.index">Remove</button>
                    </div>
                </div>
            }
            <button class="btn btn-success" asp-page-handler="">Update</button>
            <button class="btn btn-primary" asp-page-handler="addproduct">Add Product</button>
        </form>
        <a class="btn btn-secondary mt-2" asp-page="/MachinePages/List">Back to List</a>
    </div>
</div>